*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  font-family: roboto, sans-serif;
  width: 100vw;
  height: 100vh;
}

.side-bar{
  width: 20%;
  background-color: aqua;
}

.feed{
  width: 50%;
  background-color: yellow;
}

.suggestion{
  width: 30%;
  background-color: blueviolet;
}