*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  font-family: roboto, sans-serif;
}

.side-bar{
  width: 20%;
}

.side-bar img{
  width: 110px;
  margin-bottom: 6px;
}

.side-bar i{
  margin-right: 10px;
  font-size: 22px;
}

.sd-top{
  margin: 30px 0px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  position: fixed;
}

.sd-top div, 
.sd-btm div{
  transition: background-color 0.3s, color 0.3s;
}

.sd-top div:hover, 
.sd-btm div:hover{
  font-weight: 600;
  cursor: pointer;
}

.sd-btm{
  margin-left:20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  position: fixed;
  bottom: 10px;
}

.feed{
  width: 50%;
  background-color: rgb(231, 231, 199);
}

.suggestion{
  width: 30%;
  background-color: blueviolet;
}

.story{
  height: 100px;
  background-color: red;
}

.posts{
  margin: 20px 0 10px 0;
}

.profile-det{
  display: flex;
  margin-bottom: 5px;
}

.pro-pic{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: cover;
  object-position: center;
}

.profile-det h5{
  margin-top: 2.4px;
  margin-left: 5px;
  font-size: 16px;
}

.post-img{
  width: 100%;
}

.whole-cnt{
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.seperate-post{
  max-width: 480px;
}

.icons{
  font-size: 22px;
  margin: 2px 0px 3px 0px;
}

.caption{
  margin-top: 2px;
}