*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  font-family: roboto, sans-serif;
}

.side-bar{
  width: 20%;
}

.side-bar img{
  width: 110px;
  margin-bottom: 6px;
}

.side-bar i{
  margin-right: 10px;
  font-size: 22px;
}

.sd-top{
  margin: 30px 0px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  position: fixed;
}

.sd-top div, 
.sd-btm div{
  transition: background-color 0.3s, color 0.3s;
}

.sd-top div:hover, 
.sd-btm div:hover{
  font-weight: 600;
  cursor: pointer;
}

.sd-btm{
  margin-left:20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  position: fixed;
  bottom: 10px;
}

.feed{
  width: 50%;
}

.suggestion{
  width: 30%;
}

.posts{
  margin: 20px 0 10px 0;
}

.profile-det{
  display: flex;
  margin-bottom: 5px;
}

.pro-pic{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: cover;
  object-position: center;
}

.profile-det h5{
  margin-top: 2.4px;
  margin-left: 5px;
  font-size: 16px;
}

.post-img{
  width: 100%;
}

.whole-cnt{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 20px;
}

.seperate-post{
  max-width: 480px;
}

.icons{
  font-size: 22px;
  margin: 2px 0px 3px 0px;
}

.caption{
  margin-top: 2px;
}

.whole-sug{
  margin-top: 16px;
  position: fixed;
}

.sg-profile-det{
  display: flex;
  margin-bottom: 10px;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px 0 40px;
  gap: 60px;
}

#sg-pro,
#suggest-pro{
 display: flex;
 align-items: center;
 width: 200px;
}

.sg-pro-pic{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover;
  object-position: center;
}

#sg-pro h3{
  margin-left: 5px;
  font-size: 22px;
  font-weight: 500;
}

.switch{
  color: blue;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.sg-heading{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.sg-p1{
  font-size: 15px;
  font-weight: 600;
  color: #8d8787;
}

.sg-p2{
  font-size: 12px;
  font-weight: 700;
}

.sg-suggest-det{
  display: flex;
  height: 50px;
  padding: 0 40px 0 40px;
  margin-top:10px;
  align-items: center;
  gap: 60px;
}

.sg-suggest-pic{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
}

#suggest-pro > h3{
  margin-left: 5px;
  font-size: 16px;
}

.flw {
  background-color: blue; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.flw:hover {
  background-color: #007acc; 
}

.flw.followed {
  background-color:#645c5c; 
  color: white;
  border: 1px solid #ccc;
}

.flw.followed:hover {
  background-color: #e2e2e2;
  color: #d32f2f; 
  border: 1px solid #d32f2f;
  content: "Following";
}

.sg-profile{
  max-width: 400px;
}

.whole-story{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 25px;
  height: 150px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 20px 0 0 0;
}

.whole-story::-webkit-scrollbar {
  display: none;
}
.whole-story {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.gradient{
  width: 92px;
  height: 92px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  background: linear-gradient(45deg, #ff00ff,#ff6600,#ffcc00);
}

.story-pro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-pro img{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 3px solid white;
}

.truncate {
  width: 60px;              
  white-space: nowrap;       
  overflow: hidden;         
  text-overflow: ellipsis; 
}

.viewStory{
  display: flex;
  justify-content: center;
}

.viewStory img{
  height: 100vh;
}

.viewStory > .arrow{
  height: 40px;
  width: 40px;
  background-color: rgb(73, 90, 192);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold ;
  margin: auto 20px;
  cursor: pointer;
  color: transparent;
}

.arrow > i{
  color: white;
}